@charset "UTF-8"

body{


}

.logounad{
   width: 60%;
   padding: 5px 90px;

}

.iconos-redes-header{
width: 30px;
background-color: yellowgreen
filter: invert(100%);
margin: 5px 5px;

}

.fondobanner{
   background-color: burlywood;
   padding: 100px 0px;
   position: relative;
   text-align: center;

}

.circle{
    background-color: white;

}

.imgbanner{
    width: 50% ;
}

.altura-a-b{
    padding: 100px 0px;


}

.fondo{

    background: rgba(255, 255,255, 0.5);
}

.espacio{
     padding-top: 100px;

}

.banner-video{
    background-image: url("../img/videos/video_marketing.jpg");
    padding: 50px 0px;
    position: relative;
    text-align: center;
}


footer{
    
    padding: 100px 0;
    text-align:center;


}

footer .logotipo-footer{
    width: 10%;
    margin-bottom: 20px;
    padding: 100px 0;
    text-align:center;

}

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
  }
  
  .form button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
  }